h1 {
  font-family: cursive;
}

.great {
  color: green;
}

img {
  float: right;
}

.sidebar {
  width: 30%;
  float:left;
  background-color: green;
}

.brave {
  margin: 12px;
  border: 20px solid green;
  padding: 4px;
  background-color: black;
}
